.ahinfo_body {
    background-color: #051937;
}

.b_none {
    display: none;
}

.b_static {
    position: static;
}

.ahinfo_pageback {
    background-image: url("../images/pagebg.jpg");
    width: 100%;
    background-position: top center;
    min-height: 884px;
}

.ahinfo_width {
    width: 1020px;
    margin: auto;
}

.ahinfo_head {

}
.ahinfo_head .c_top {
    height: 120px;
}
.ahinfo_head .c_nav {
    height: 40px;
    background-color: #fff;
    border-bottom: solid 4px #e5e5e5;
    color: #542900;
}

.ahinfo_head .c_nav ul {
    margin-left: 20%;
    width: 60%;
}

.ahinfo_head .c_nav ul li {
    width: 120px;
    float: left;
    list-style-type: none;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
}

.ahinfo_center {
    background-color: #fff;
    min-height: 700px;
}

.ahinfo_nav {
    position: relative;
}
.ahinfo_nav .c_split {

    border-top: solid 3px #7c5c3e;
    height: 15px;
    width: 100%;
    margin-top: 2px;
}

.ahinfo_nav .c_item {
    position: absolute;
    top: -4px;
    width: 120px;
    background-color: #f4f6f9;
    z-index: 1;
}
.ahinfo_nav ul {
    margin: 0px;
    padding: 0px;
}
.ahinfo_nav ul li {
    list-style-type: none;
    text-align: center;
    height: 30px;
}
.ahinfo_nav ul li a {
    color: #542900;
}

.ahinfo_nav .c_item .c_bottom {
    height: 15px;
}

.ahinfo_nav .ahinfo_nav_item_0 {

    left: 180px;
}
.ahinfo_nav .ahinfo_nav_item_1 {

    left: 300px;
}
.ahinfo_nav .ahinfo_nav_item_2 {

    left: 420px;
}
.ahinfo_nav .ahinfo_nav_item_3 {

    left: 540px;
}
.ahinfo_nav .ahinfo_nav_item_4 {

    left: 660px;
}




.ahinfo_default_adv .carousel
{
    height:440px;
    overflow: hidden;
}







