body {

}

form, ul, li {
    margin: 0px;
    padding: 0px;
}

.website_body, .website_body a {
    color: #656565;
}

.b_tools {
    line-height: 20px;
}

.b_icon {
    width: 20px;
    height: 20px;
    background-image: url("../images/website_png.png");
    display: inline-block;
}
.b_info {
    margin: 20px 0px 20px 0px;
}
.b_sitenav {
    background-color: #cfd4bd;
    height: 25px;
    margin-bottom: 5px;
    width: 100%;
    text-indent: 30px;
    line-height: 25px;
    letter-spacing: 2px;
}
.b_sitenav a {
    color: #000;
}

.b_split {
    background-image: url("../images/website_header.png");
    background-position: 0px -260px;
    height: 20px;
}

a.b_button {
    background-image: url("../images/website_png.png");
    background-position: -280px -300px;
    height: 30px;
    width: 90px;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}
a.b_button:hover {
    color: #fff;
    cursor: pointer;
}

.b_share {
    background-position: -120px -140px;
}

.b_comment {
    background-position: -140px -140px;
}

.b_collect {
    background-position: -140px -140px;
}

/*圆角专用csss*/
.b_corner {

}

.h_40 {
    height: 40px;
    clear: both;
}
.h_20 {
    height: 40px;
    clear: both;
}

/**hack******************************************************************/

.website_body {
    background-color: #cacaba;
    font-size: 12px;
    clear: both;
}

.website_center {
    width: 1100px;
    margin: 0px auto;
    margin-left: auto;
    margin-right: auto;
}

.layout_header {
    height: 198px;
}

.layout_footer {
    clear: both;
    background-image: url("../images/website_repx.png");
    background-position: 0px -60px;
    height: 230px;
    margin-top: 10px;
    text-align: center;
    color: #647569;
}

.layout_footer  .c_link {
    line-height: 40px;
    color: #637268;
    font-size: 14px;
    font-weight: bold;
}

.layout_height8 {
    height: 8px;
    clear: both;
}

.header_top {
    height: 198px;
    background-image: url("../images/website_header.png");
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
}
.header_box {
    position: relative;
}
.header_regtip {
    background-image: url("../images/website_png.png");
    width: 80px;
    height: 40px;
    background-position: -300px -100px;
    position: absolute;
    top: 135px;
    left: 545px;
}

.header_logo {
    background-image: url("../images/website_png.png");
    background-position: 0px 0px;
    width: 250px;
    height: 100px;
    float: left;
    margin-top: 25px;
}

.header_user {

    float: right;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 110px;
}

.header_user, .header_user a {
    color: #cad2c3;
}
.header_user, .header_user a:hover {
    color: #fff;
    text-decoration: none;
}

.lay_header_position {
    height: 146px;
}

.lay_header_nav {
    height: 52px;
}

.header_nav_left {
    width: 800px;
    font-size: 16px;
    height: 52px;
    float: left;
}

.header_nav_left ul {
    margin: 0px;
    padding: 0px;
    height: 52px;
}

.header_nav_left ul li {
    float: left;
    line-height: 52px;
    list-style-type: none;
    height: 52px;
    font-weight: bold;
}

.header_nav_left ul li a {
    color: #455e2e;
    display: inline-block;
   
    padding: 0px 17px 0px 17px;
    margin: 0px;
    height: 52px;
    vertical-align: middle;
}

.header_nav_left ul li a.active {
    color: #fff;
    font-size: 17px;
}

.header_nav_left ul  .active {
    background-image: url("../images/website_repx.png");
    background-position: 0px 0px;
    color: #fff;
}

.header_nav_right {
    float: right;
    width: 283px;
}

.header_nav_search {
    background-image: url("../images/website_png.png");
    background-position: 0px -100px;
    width: 270px;
    height: 40px;
    position: relative;
    top: 10px;
}

.header_nav_search input, .header_nav_search input[type="text"] {
    border: 0;
    margin: 2px;
}
.header_nav_search div {
    float: right;
    width: 40px;
    cursor: pointer;
    height: 100%;
}

.main {

}

.index_adv {
    height: 330px;
    width: 100%;
}

.index_adv img {
    width: 100%;
    height: 330px;
}

.index_adv_caption_left {
    background-image: url("../images/website_png.png");
    background-position: -280px -120px;
    float: left;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.index_adv_caption_right {
    background-image: url("../images/website_png.png");
    background-position: -280px -100px;
    float: left;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.index_adv_caption_center {
    color: #fff;
    float: left;
    height: 20px;
    padding: 0px 40px;
    text-align: center;
}

.index_adv_caption_center a {
    color: #fff;
    font-size: 9px;
}

.index_adv_caption_center a:hover {
    color: #fff;
}

.index_banner {
    height: 480px;
    overflow: hidden;
}

.index_banner_item {
    position: relative;
    top: 3px;
    width: 256px;
    height: 460px;
    float: left;
    border:solid 4px #fff;
     background-image: url("../images/website_repx.png");
     background-position: 0px -300px;
}



.index_banner_split {
    width: 13px;
    float: left;
    height: 100%;
}

.index_picnav {
    background-image: url("../images/website_header.png");
    height: 55px;
    background-position: 0px -200px;
}

.main_pics {
    height: 200px;
    background-color: #fff;
}

.index_piclist {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.index_piclist_position {
    position: relative;
    top: 11px;
    left: 11px;
}

.index_piclist_box {
    height: 150px;
    position: relative;
    overflow: hidden;
}

.index_piclist_box ul {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.index_piclist_box ul li {
    float: left;
    width: 156px;
    list-style-type: none;
    height: 100%;
}

.index_piclist_box ul li a {
    color: #696d5a;
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
    padding-right: 16px;
}

.index_piclist_box img {
    width: 100%;
    height: 84px;
    border: solid 1px #83876b;
}

.index_piclist_nav {
    width: 99%;
}

.index_piclist_nav ul {
    position: relative;
    right: 0px;
    float: right;
}

.index_piclist_nav ul li {
    width: 20px;
    height: 20px;
    background-image: url("../images/website_png.png");
    float: left;
    list-style-type: none;
    background-position: 0px -140px;
    cursor: pointer;
}

.index_piclist_nav span {
    width: 20px;
    height: 20px;
    background-image: url("../images/website_png.png");
    display: inline-block;
}

.index_piclist_nav .c_prev {
    background-position: -60px -140px;
}

.index_piclist_nav .c_next {
    background-position: -40px -140px;
}

.index_piclist_nav .c_select {
    background-position: -20px -140px;
}

.index_piclist_nav .c_nav {
    background-position: -80px -140px;
    margin-right: 5px;
}

.index_piclist_nav .c_nav_select {
    background-position: -100px -140px;
    margin-right: 5px;
}

.info_body {
    background-color: #f6f7f5;
    min-height: 200px;
}

.info_item {
    margin-top: 20px;
}

.info_item .c_title {
    color: #000;
}

.info_item .c_image {
    margin-top: 20px;
    margin-bottom: 20px;
}

.info_item .c_image img {
    width: 750px;
}

.info_item .c_tips {
    margin-top: 20px;
    line-height: 20px;
    height: 20px;
}

.info_item  .c_share {
    background-position: -120px -140px;
    margin-right: 5px;
}

.info_item  .c_comment {
    background-position: -140px -140px;
    margin-left: 30px;
}

.info_item .c_split {
    background-image: url("../images/website_header.png");
    background-position: 0px -260px;
    height: 20px;
    margin-top: 10px;
}

.info_sort .c_title {
    margin: 40px 0px 20px 0px;
    font-size: 14px;
    line-height: 40px;
    border-bottom: dashed 1px #656565;
}

.info_sort ul li {
    line-height: 25px;
}

/***************************************************************************************************************/
.prep_timebox {
    background-color: #f6f7f5;
}

.prep_timeline {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.prep_timeline .c_item {
    width: 500px;
    margin: 30px 24px 0px 24px;
    float: left;
    text-align: justify;
    word-wrap: break-word;
}

.prep_timeline .c_height {
    height: 130px;
}

.prep_timeline .c_box {
    position: absolute;
    z-index: 1;
    left: 410px;
    min-height: 20px;
    width: 280px;
}

.prep_timeline .c_inner {
    height: 655px;
    position: relative;
    width: 410px;
    background-image: url("../images/website_back.png");
}

/*timeline navigatior css*/
.prep_timeline .timeline_container {
    display: block;
    width: 80px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.prep_timeline .timeline {
    display: block;
    width: 2px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    font-size: 0;
    float: left;
    position: absolute;
    left: 550px;
    top: 10px;
    background-color: #6c7a61;
}

.prep_timeline  .c_target {
    background-image: url("../images/website_png.png");
    width: 40px;
    height: 60px;
    background-position: -260px -160px;
    position: relative;
    left: 120px;
}

.prep_timeline  .c_year {
    background-image: url("../images/website_png.png");
    width: 140px;
    height: 140px;
    background-position: 0px -300px;
    position: relative;
    left: 72px;
    text-align: center;
    color: #fff;
    font-size: 34px;
    line-height: 140px;
}

.prep_timeline  .c_month {
    background-image: url("../images/website_png.png");
    width: 80px;
    height: 40px;
    background-position: -160px -160px;
    position: relative;
    left: 98px;
    text-align: center;
    color: #fff;
    line-height: 35px;
}

.prep_timeline  .c_left {
    float: left;
}

.prep_timeline .c_right {
    float: right;
}

.prep_timeline  .c_line {
    background-image: url("../images/website_png.png");
    width: 100px;
    height: 60px;
    line-height: 65px;
    font-size: 14px;
}

.prep_timeline  .c_left .c_line {
    background-position: 0px -240px;
    float: left;
    text-indent: 30px;
}

.prep_timeline  .c_right .c_line {
    background-position: -180px -240px;
    float: right;
    text-indent: 15px;
}

.prep_timeline  .c_prep, .prep_timeline  .c_success {
    background-image: url("../images/website_png.png");
    width: 80px;
    height: 80px;
}

.prep_timeline  .c_prep {
    background-position: 0px -160px;
}

.auction_body .prep_timeline  .c_success {
    background-position: -80px -160px;
}

.prep_timeline  .c_left .c_prep, .prep_timeline  .c_left .c_success {
    float: left;
}

.prep_timeline  .c_right .c_prep, .prep_timeline  .c_right .c_success {
    float: right;
}

.prep_timeline  .c_image {
    height: 470px;
    width: 355px;
    position: relative;
    top: 28px;
    left: 22px;
}

.prep_timeline  .c_image img {
    width: 100%;
    height: 100%;
}

.prep_timeline  .c_info {
    position: relative;
    top: 40px;
    left: 30px;
    line-height: 25px;
    width: 350px;
}

.prep_timeline  .c_title {
    font-size: 16px;
    font-weight: bold;
}

.prep_timeline  .c_href {
    text-indent: 280px;
}

/***************************************************************************************************************/
.special_body {
    background-color: #f6f7f5;
}

.special_box_auction {
    position: relative;
    width: 260px;
    height: 490px;
    background-color: #eeeeee;
    border: solid 1px #fff;
    line-height: 20px;
    margin-top: 10px;
}

.special_box_auction .c_img {
    margin: 3px;
}

.special_box_auction .c_img img {
    height: 340px;
    width: 253px;
}

.special_box_auction .c_info {
    width: 96%;
    margin-left: 2%;
}

.special_box_auction  .c_title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.special_box_list {
    background-color: #eeeeee;
    height: 100%;
}

.special_list {

}

.special_list dl {
    padding: 10px;
}

.special_list dl dt {
    float: left;
    width: 180px;
    height: 160px;
}

.special_list dl dt img {
    width: 160px;
}

.special_list dl dd {
    float: left;
    line-height: 25px;
    width: 550px;
}

.special_list dl dd h3 {
    line-height: 80px;
}

.special_list dl dd .c_share {
    background-position: -120px -140px;
}

.special_list dl dd .c_comment {
    background-position: -140px -140px;
}

.special_list dl dd .c_collect {
    background-position: -140px -140px;
}

.pic_listbox {
    background-color: #f4f5f1;
    line-height: 25px;
}

.pic_listbox .c_item {
    width: 260px;
    margin: 5px 0px 10px 10px;
    text-align: justify;
    word-wrap: break-word;
    float: left;
    background-color: #d7ddd3;
}

.pic_listbox .c_text {
    margin: 10px;
}

.pic_listbox .c_item img {
    max-width: 96%;
    display: block;
    margin: 5px;
}

.people_type {
    height: 105px;
    background-color: #5d6b51;
    border-top: solid 1px #7e8559;
}

.people_type .c_item {
    height: 60px;
    width: 250px;
    background-image: url("../images/website_back.png");
    float: left;
    margin: 20px 0px 0px 20px;
}

.people_type .c_one {
    background-position: -420px -220px;
}
.people_type .c_two {
    background-position: -420px -280px;
}
.people_type .c_three {
    background-position: -420px -340px;
}
.people_type .c_four {
    background-position: -420px -400px;
}

.people_list {
    background-color: #f5f5f3;
    padding: 20px 0px 30px 12px;
}
.people_list .c_item {
    background-color: #dfe5db;
    margin: 0px 12px 20px 0px;
    width: 260px;
    height: 255px;
    text-align: center;
    float: left;
}
.people_list .c_item img {
    width: 250px;
    height: 210px;
    margin: 5px;
}

.product_body {
    background-color: #f6f6f4;
}

.product_people {
    height: 270px;
    position: relative;
}

.product_people .c_note {
    height: 210px;
    padding-left: 300px;
    background-color: #5d6b51;
    color: #fff;
    line-height: 30px;
}

.product_people .c_note .c_note_info {
    margin-right: 20px;
}

.product_people .c_note h3 {
    padding-top: 30px;
}

.product_people .c_img {
    background-color: #fff;
    padding: 5px;
    top: 20px;
    left: 25px;
    width: 250px;
    height: 200px;
    position: absolute;
}

.product_people .c_img img {
    width: 100%;
    height: 100%;
}

.product_body  .prep_timeline  .c_success {
    background-position: -310px -240px;
    width: 25px;
    height: 60px;
}
.product_body  .prep_timeline .c_line {
    width: 125px;
}
.product_body .prep_timeline  .c_left .c_line {
    background-position: 0px -240px;
    width: 130px;
    text-align: center;
}
.product_body .prep_timeline  .c_right .c_line {
    background-position: -155px -240px;
    text-align: center;
}

.product_from {
    height: 180px;
}
.product_from .c_from {
    background-image: url("../images/website_png.png");
    background-position: -140px -300px;
    height: 140px;
    width: 140px;
    margin: 20px auto;
}

.login_box {
    background-color: #f6f7f5;
}

.login_box .c_box {
    padding: 40px;
}

.login_box .c_desc {
    color: #5d6c50;
    margin-bottom: 50px;
    text-indent: 40px;
}
.login_box .c_left {
    float: left;
    color: #959595;
    line-height: 30px;
}
.login_box .c_left span {
    color: #5d6c50;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    width: 100px;
    text-align: right;
}

.login_box .c_right {
    width: 520px;
    height: 90px;
    font-size: 16px;
    background-color: #fafafa;
    border: solid 1px #e8e8e8;
    float: right;
}
.login_box .c_right .c_info {
    margin: 25px 0px 0px 160px;
}

.login_box .c_buttons {
    padding-left: 90px;
}

.user_body {
    background-color: #f6f6f4;
}

.user_header {
    background-color: #5c6a50;
    height: 105px;
}
.user_header_nav {
    padding: 20px 0px 0px 50px;
}
.user_header_nav div {
    float: left;
}
.user_header_nav a {
    display: inline-block;
    padding: 0px 20px 0px 20px;
    margin-right: 20px;
}
.user_header_nav a:hover {
    background-color: #69785d;
}
.user_header_nav  .c_back {
    background-image: url("../images/website_png.png");
    width: 60px;
    height: 60px;
}

.user_header_nav .c_nav1 {
    background-position: -320px -140px;
}
.user_header_nav .c_nav2 {
    background-position: -380px -140px;
}
.user_header_nav .c_nav3 {
    background-position: -440px -140px;
}
.user_header_nav .c_nav4 {
    background-position: -500px -140px;
}

.user_header_nav  .c_title {
    font-size: 18px;
    color: #d7ddd2;
    font-weight: bold;
    padding: 30px 0px 0px 20px;
}

.user_table {
    margin: 20px;
    background-color: #fff;
}

.user_change .control-label {
    color: #000;
    font-size: 14px;
}

.club_body {

    background-color: #f6f6f4;
}

.club_body .container-fluid {
    padding: 0px;
}

.club_body .c_right {
    background-color: #d7ddd3;
    padding: 10px;
}
.club_body .c_right .c_flash {

}

.club_body .c_left {
    padding: 20px;
}
.club_body .c_left .c_box {
    border: solid 1px #eeeeee;
    border-top: solid 3px #cdd5bd;
    padding: 20px;
    word-break: break-all;
}
.club_body .c_left .c_info {
    height: 140px;
}

.club_body .c_linkbox {
    margin-top: 30px;
}
.club_body .c_title {
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    color: #505948;
}
.club_body h3 {
    color: #505948;
}

.club_body .c_right .c_allnote {

    border-bottom: dashed 1px #b2b8ae;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 10px;
}

.club_body .c_right li {
    line-height: 30px;
}
.club_body .index_piclist_box
{
    height:180px;
}
.club_body .index_piclist_position {
    width: 100%;
}

.club_body .index_piclist_box ul li {
    width: 194px;
}

.club_body .club_tools {
    margin-top:5px;
}


.club_tools a .club_icon
{
    background-image: url("../images/website_png.png");
    width:20px;
    height:12px;
    background-position:-180px -140px;
    display:inline-block;
    margin-right:5px;
   
    
}

.club_tools a .club_download
{
     background-position:-200px -140px;
}


.club_tools a {
    background-color:#e9e9e9;
    display:inline-block;
   
    height:25px;
    padding:5px 0px 0px 10px;
    margin-top:10px;
}
.club_tools a:hover
{
     background-color:#4d5e3f;
     color:#fff;
}

.book_adv_top {
    height: 630px;
    width: 100%;
}

.book_center .c_left {
    float: left;
    width: 50%;
}

.book_center .c_right {
    float: right;
    width: 50%;
}

.book_pic {
    background-color: #fff;
}

.static_body .c_body {
    background-color: #f6f7f5;
    width: 100%;
}
.static_body .c_body .c_left {
    width: 17%;
    float: left;
    background-color: #eeeeee;
}

.static_body .c_body .c_right {
    width: 80%;
    margin-left: 2%;
    float: left;
}
.static_body  .c_right .c_info_title {
    border-bottom: solid 2px #cfd4bd;
    font-size: 24px;
    color: #4d5e3f;
    font-weight: bold;
    padding: 30px 0px 16px 0px;
}

.static_body .c_body .c_left .c_box {
    margin: 10px;
}

.static_body .c_body .c_left .c_box .c_nav_title {
    padding: 20px 0px 16px 0px;
    font-size: 24px;
    font-weight: bold;
    color: #4d5e3f;
    border-bottom: dashed 1px #c6c6c6;
}
.static_body .c_body .c_left .c_box ul {
    padding: 0px;
    margin: 0px;
}
.static_body .c_body .c_left .c_box ul li {
    line-height: 30px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.static_body .c_body .c_left .c_box ul li a {
    display: inline-block;
    width: 100%;
}
.static_body .c_body .c_left .c_box ul li a:hover, .static_body .c_body .c_left .c_box .c_select {
    background-color: #4d5e3f;
    color: #fff;
    text-decoration: none;
}

.content_body {
    background-color: #f6f7f5;
}
.content_title {
    font-size: 24px;
}

.content_desc {
    margin: 10px 0px 20px 0px;
}

.img_body {
    background-color: #000;
}

.img_body .img_title {
    height: 60px;
    border-bottom: solid 1px #505050;
}
.img_body .img_title .c_title {
    padding: 20px 0px 0px 100px;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

.img_body .img_main .c_left {
    float: left;
    width: 150px;
    height: 100%;
}
.img_body .img_main .c_right {
    float: right;
    width: 150px;
    height: 100%;
}

.img_body .img_main .img_show {
    float: left;
    width: 800px;
}
.img_body  .c_nav {

    margin: 480px 0px 0px 20px;
}

.img_body  .c_nav .c_href {
    text-indent: 20px;
}

.img_body  .c_nav a:hover {
    color: #fff;
}
.c_nav .c_img {
    background-image: url("../images/website_png.png");
    background-position: -380px -240px;
    width: 112px;
    height: 85px;
}
.c_nav .c_img img {
    width: 100px;
    height: 75px;
    margin: 4px 0px 0px 8px;
}
.index_comment {
    color: #696d5a;
    line-height: 20px;
    width: 95%;
    word-break: break-all;
}

.index_comment .c_head {
    margin-top: 40px;
    color: #696d5a;
    font-size: 14px;
    font-weight: bold;
}
.index_comment .c_item {
    border-top: dashed 1px #cdcdcc;
    padding: 10px 0px 0px 10px;
    margin: 10px 0px 10px 0px;
}
.index_comment .c_item .c_title {
    color: #696d5a;
}
.index_comment .c_item .c_title span {
    font-weight: bold;
}
.index_comment  .c_login {
    margin-top: 40px;
    border: solid 1px #dedede;
    background-color: #ebeee7;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 14px;
    color: #565656;
}
.index_comment  .c_login a {
    color: #365d7e;
}

.index_comment .c_text {
    width: 100%;
}

.index_comment .c_top {
    margin-top: 50px;
    padding-bottom: 20px;
    border-bottom: dashed 1px #cdcdcc;
}

.index_comment .c_area {
    margin-top: 20px;
    width: 100%;
}

.index_comment .c_area textarea {
    width: 98%;
    height: 100px;
    margin: 0px;
}
.index_comment .c_label {
    background-color: #d7ddd3;
    height: 40px;
    text-align: right;
}
.index_comment .c_label input {
    padding: 3px 20px 3px 20px;
    margin: 3px 20px 0px 0px;
}

.index_comment .c_noreplay {
    border: dashed 1px #cdcdcc;
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
}

.index_pagenav {
    text-align: right;
    margin: 30px 0px 30px 0px;
    width: 95%;
}
.index_pagenav a {

    background-color: #f2f2f2;
    border: solid 1px #cccccc;
    padding: 3px 5px 3px 5px;
}
.index_pagenav span {
    padding: 3px 15px 3px 15px;
}

.search_body {
    background-color: #f6f7f5;
    padding: 30px;
}
.search_table {

    background-color: #fff;
}

.search_table img {
    width: 30px;
    height: 30px;
}

.good_body {
    background-color: #f6f7f5;
}
.good_image {
    background-color: #000;
    text-align: center;
    padding: 20px;
}

.good_image img {
    border: solid 5px #fff;
}

.good_tools {
    height: 40px;
}

.good_inner {
    background-color: #fafafa;
    border: solid 1px #e8e8e8;
    padding: 20px;
    line-height: 30px;
    color: #4d5e3f;
}
.good_link {
    padding: 30px 0px 10px 0px;
    color: #656565;
    font-size: 14px;
    letter-spacing: 1px;
    color: #656565;
    font-weight: bold;
}
.good_link a {
    color: #656565;
}

.good_box {
    margin: 40px 0px 20px 0px;
}
.good_box .c_title {
    background-color: #4d5e3f;
    height: 30px;
    line-height: 30px;
    color: #fff;
    width: 150px;
    font-size: 14px;
    text-align: center;
}
.good_box .c_info {
    padding: 20px;
    border: solid 1px #d0d5bf;
    background-color: #fafafa;
}

.work_body {
    background-color: #f6f7f5;
}

.work_left {
    float: left;
    width: 750px;
    margin: 0px 0px 0px 20px;
}

.work_right {
    width: 300px;
    float: right;
    background-color: #d7ddd2;
}
.work_right .work_icons {
    background-image: url("../images/website_back.png");
    background-position: -420px -480px;
    width: 240px;
    height: 200px;
    margin: 100px 0px 0px 35px;
}
.work_right .work_icons img {
    margin: 5px;
    width: 220px;
    height: 185px;
}
.work_right .work_meta {
    margin: 20px 0px 30px 35px;
    width: 240px;
}
.work_left .work_info {
    margin: 30px 0px 30px 0px;
}

