html {
	width: 640px;
	height: 100%;
	font-size: 62.5%; /* 10¡Â16=62.5% */
}

.mobile_body {
	font-family: Microsoft Yahei;
}

.mobile_body a {
	color: #000;
}

.mobile_body a:hover {
	text-decoration: none;
}

.mobile_w_h5 {
	height: 5px;
}

.mobile_w_clear {
	clear: both;
}

.mobile_w_none {
	display: none;
}

.mobile_w_h10 {
	height: 10px;
}

.mobile_w_h20 {
	height: 20px;
}

.mobile_w_h30 {
	height: 30px;
}

.mobile_w_border_b {
	border-bottom: solid 1px #ebebeb;
}

.mobile_w_border_t {
	border-top: solid 1px #ebebeb;
}

.mobile_w_border_r {
	border-right: solid 1px #ebebeb;
}

.mobile_w_bg_white {
	background-color: #ffffff;
}

.mobile_w_bg_base {
	background-color: #f9f9f7;
}

.mobile_lay_head {
	background-image: url("../mimg/mobile-repx.png");
	background-position: 0px 0px;
	height: 88px;
	width: 100%;
	position: relative;
}

.mobile_head_left {
	height: 88px;
	width: 90px;
	float: left;
}

.mobile_head_icon_user {
	background-image: url("../mimg/mobile-img.png");
	background-position: 0px 0px;
	width: 100%;
	height: 100%;
}

.mobile_head_icon_back {
	background-image: url("../mimg/mobile-img.png");
	background-position: -600px 0px;
	width: 100%;
	height: 100%;
}

.mobile_head_center {
	width: 50%;
	margin-left: 25%;
	position: absolute;
}

.mobile_head_logo {
	background-image: url("../mimg/mobile-img.png");
	background-position: -200px 0px;
	height: 80px;
	width: 200px;
	margin: auto;
}

.mobile_head_right {
	background-image: url("../mimg/mobile-img.png");
	background-position: -100px 0px;
	height: 88px;
	width: 90px;
	float: right;
}

.mobile_head_menu {
	width: 45%;
	min-height: 100px;
	border-left: solid 1px #bbbfbe;
	border-bottom: solid 1px #bbbfbe;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #fff;
	z-index: 20;
	top: 88px;
	display: none;
}

.mobile_head_menu_content {
	width: 90%;
	float: right;
}

.mobile_head_menu_item {
	min-height: 86px;
	clear: both;
}

.mobile_head_menu_left {
	float: left;
	width: 65px;
	height: 86px;
	background-image: url("../mimg/mobile-img.png");
}

.mobile_head_menu_one {
	background-position: 0px -200px;
}

.mobile_head_menu_two {
	background-position: -100px -200px;
}

.mobile_head_menu_three {
	background-position: -200px -200px;
}

.mobile_head_menu_four {
	background-position: -300px -200px;
}

.mobile_head_menu_five {
	background-position: -400px -200px;
}

.mobile_head_menu_six {
	background-position: -500px -400px;
}


.mobile_head_menu_right {
	float: left;
	font-size: 2.6rem;
	line-height: 86px;
}

.mobile_lay_main {
	clear: both;
}

.mobile_mindex_body {
	
}

.mobile_mindex_adv {
	
}

.mobile_mindex_adv_box {
	width: 640px;
	height: 194px;
}

.mobile_mindex_adv img {
	margin: auto;
}

.mobile_mindex_tips {
	height: 90px;
	border-top: solid 1px #ebece8;
	border-bottom: solid 1px #ebece8;
}

.mobile_mindex_tips_left {
	float: left;
	width: 50px;
	background-image: url("../mimg/mobile-img.png");
	background-position: -400px 0px;
	height: 90px;
}

.mobile_mindex_tips_text {
	float: left;
	width: 300px;
	font-size: 3rem;
	line-height: 90px;
	height: 90px;
}

.mobile_mindex_tips_right {
	float: right;
	width: 50px;
	background-image: url("../mimg/mobile-img.png");
	background-position: -450px 0px;
	height: 90px;
}

.mobile_mindex_content_item {
	padding-top: 30px;
	width: 90%;
	margin-left: 5%;
	min-height: 150px;
	width: 90%;
}

.mobile_mindex_content_left {
	float: left;
	width: 66%;
}

.mobile_mindex_content_right {
	float: right;
	width: 30%;
}

.mobile_mindex_content_ico {
	float: left;
	width: 40px;
}

.mobile_mindex_content_ico_one {
	width: 25px;
	background-image: url("../mimg/mobile-img.png");
	background-position: -500px 0px;
	height: 25px;
}

.mobile_mindex_content_ico_two {
	width: 25px;
	background-image: url("../mimg/mobile-img.png");
	background-position: -526px 0px;
	height: 25px;
}

.mobile_mindex_content_author {
	float: left;
	min-width: 50px;
	font-size: 2.2rem;
	color: #999999;
	line-height: 2.5rem;
}

.mobile_mindex_content_date {
	float: right;
	min-width: 160px;
	font-size: 2.2rem;
	color: #999999;
	line-height: 2.5rem;
}

.mobile_mindex_content_title {
	font-size: 2.8rem;
	line-height: 4rem;
}

.mobile_mindex_menu {
	height: 170px;
	background-color: #fefefe;
}

.mobile_mindex_menu_box {
	margin-left: 2%;
}

.mobile_mindex_menu_item {
	width: 24%;
	height: 170px;
	float: left;
}

.mobile_mindex_menu_ico {
	width: 100px;
	background-image: url("../mimg/mobile-img.png");
	background-position: -200px -100px;
	height: 100px;
	margin: auto;
}

.mobile_mindex_menu_one {
	background-position: -200px -100px;
}

.mobile_mindex_menu_two {
	background-position: -300px -100px;
}

.mobile_mindex_menu_three {
	background-position: -400px -100px;
}

.mobile_mindex_menu_four {
	background-position: -500px -100px;
}

.mobile_mindex_menu_text {
	text-align: center;
	font-size: 2.4rem;
}

.mobile_mnews_item {
	
}

.mobile_mnews_bg {
	background-color: #fff;
}

.mobile_mnews_box {
	width: 92%;
	margin-left: 4%;
}

.mobile_mnews_box img {
	height: 150px;
}

.mobile_mnews_title {
	font-size: 3.4rem;
	line-height: 34px;
}

.mobile_mnews_tips {
	font-size: 2rem;
	color: #999999;
	height: 24px;
}

.mobile_mnews_info {
	font-size: 2.6rem !important;
	line-height: 34px !important;
	color: #656565;
}

.mobile_mnews_info p, .mobile_mnews_info p span, .mobile_mnews_info p span strong,
	.mobile_mnews_info span strong {
	font-size: 2.6rem !important;
	line-height: 34px !important;
	margin: 0px;
	padding: 0px;
}

.mobile_base_inbox {
	width: 100%;
	height: 100%;
}

.mobile_base_more {
	clear: both;
	height: 120px;
}

.mobile_base_buttom {
	background-color: #718165;
	height: 75px;
	width: 96%;
	margin-left: 2%;
	-moz-border-radius: 15px; /* Gecko browsers */
	-webkit-border-radius: 15px; /* Webkit browsers */
	border-radius: 15px; /* W3C syntax */
	color: #fff;
	text-align: center;
	font-size: 3rem;
	line-height: 75px;
}

.mobile_base_buttom_color_2 {
	background-color: #7b7c6f;
}

.mobile_base_more_box {
	width: 250px;
	margin: auto;
}

.mobile_base_more_left {
	background-image: url("../mimg/mobile-img.png");
	background-position: 0px -100px;
	width: 100px;
	height: 100px;
	float: left;
}

.mobile_base_more_right {
	font-size: 2.4rem;
	line-height: 100px;
	color: #999;
}

.mobile_base_scroll_wrap {
	position: absolute;
	z-index: 1;
	top: 0px;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	width: 100%;
}

.mobile_base_scroll_box {
	position: absolute;
	top: 0;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	z-index: 1;
}

.mobile_mcontent_box {
	width: 94%;
	margin-left: 3%;
}

.mobile_mcontent_title {
	font-size: 4rem;
	line-height: 50px;
}

.mobile_mcontent_tips {
	font-size: 2rem;
	color: #999999;
	height: 24px;
}

.mobile_mcontent_info {
	font-size: 2rem;
	line-height: 2.5rem;
}

.mobile_mcontent_info p, .mobile_mcontent_info span {
	font-size: 3rem !important;
	line-height: 5rem;
}

.mobile_mcontent_info img {
	margin-bottom: 2rem;
}

.mobile_mauction_box {
	position: relative;
}

.mobile_mauction_item {
	position: relative;
	clear: both;
}

.mobile_mauction_left {
	float: left;
	width: 151px;
}

.mobile_mauction_date {
	margin-left: 32px;
}

.mobile_mauction_day {
	width: 80px;
	height: 55px;
	background-color: #f1f1f1;
	font-size: 3.6rem;
	line-height: 5.5rem;
	text-align: center;
}

.mobile_mauction_year {
	width: 80px;
	height: 30px;
	background-color: #98a571;
	font-size: 1.4rem;
	line-height: 3rem;
	text-align: center;
	color: #fff;
}

.mobile_mauction_right {
	float: right;
	border-left: solid 1px #c2c2c1;
	width: 488px;
}

.mobile_mauction_img_bg {
	width: 386px;
	border: solid 1px #ebebe9;
	background-color: #fff;
	margin-left: 65px;
}

.mobile_mauction_img_show {
	width: 354px;
	margin: 16px 16px 25px 16px;
	position: relative;
}

.mobile_mauction_img_one {
	background-image: url("../mimg/mobile-img.png");
	background-position: -600px -100px;
	width: 70px;
	height: 70px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.mobile_mauction_img_two {
	background-image: url("../mimg/mobile-img.png");
	background-position: -700px -100px;
	width: 70px;
	height: 70px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.mobile_mauction_title {
	font-size: 2.8rem;
	line-height: 2.8rem;
}

.mobile_mauction_desc {
	color: #4f4e4e;
	font-size: 1.8rem;
	line-height: 2.4rem;
}

.mobile_mauction_absolute_tip {
	background-image: url("../mimg/mobile-img.png");
	background-position: -700px 0px;
	width: 86px;
	height: 30px;
	top: 27px;
	position: absolute;
	left: 137px;
}

.mobile_mauction_split {
	clear: both;
	color: #999;
	width: 155px;
	text-align: right;
	font-size: 2rem;
	line-height: 3.6rem;
	background-image: url("../mimg/mobile-img.png");
	background-position: -80px -160px;
	width: 120px;
	height: 40px;
	position: relative;
	left: 37px;
	bottom: 24px;
}

.mobile_mauction_line {
	clear: both;
	border-top: solid 1px #e5e5e5;
	border-bottom: solid 1px #e5e5e5;
	height: 5px;
	width: 100%;
	margin-bottom: 40px;
	position: relative;
}

.mobile_mauction_from {
	background-image: url("../mimg/mobile-img.png");
	background-position: -500px -205px;
	position: relative;
	width: 178px;
	height: 50px;
	top: -30px;
	left: 240px;
}

.mobile_mspecital_img img {
	width: 100%;
}

.mobile_mspecital_title {
	font-size: 2.8rem;
	line-height: 2.8rem;
	text-indent: 1rem;
}

.mobile_mspecital_text {
	font-size: 2rem;
	line-height: 2.5rem;
	text-indent: 1rem;
}

.mobile_mspecital_split {
	height: 50px;
}

.mobile_mspecital_ico {
	background-image: url("../mimg/mobile-img.png");
	background-position: -700px -200px;
	width: 100px;
	height: 100px;
	margin: auto;
}

.mobile_mpic_top {
	height: 110px;
	text-indent: 2rem;
	font-size: 3.6rem;
	line-height: 110px;
}

.mobile_mpic_item {
	float: left;
	width: 310px;
	height: 500px;
}

.mobile_mpic_img {
	height: 305px;
	overflow: hidden;
}

.mobile_mpic_img img {
	width: 100%;
}

.mobile_mpic_in {
	width: 280px;
	margin: 25px;
}

.mobile_mpic_title {
	font-size: 2rem;
	line-height: 50px;
	height: 50px;
	overflow: hidden;
}

.mobile_mpic_info {
	font-size: 1.8rem;
	line-height: 2.5rem;
}

.mobile_mgood_box {
	width: 96%;
	margin-left: 2%;
}

.mobile_mgood_title {
	font-size: 3.6rem;
	line-height: 5rem;
}

.mobile_mgood_tip {
	font-size: 2.8rem;
	line-height: 4rem;
}

.mobile_mgood_info {
	font-size: 2.6rem;
	line-height: 3.2rem;
}

.mobile_mlogin_list {
	background-color: #fff;
}

.mobile_mlogin_item {
	height: 90px;
	margin-left: 25px;
}

.mobile_mlogin_icon_base {
	float: left;
	background-image: url("../mimg/mobile-img.png");
	background-position: 0px -300px;
	width: 50px;
	height: 90px;
}

.mobile_mlogin_icon_mail {
	background-position: 0px -300px;
}

.mobile_mlogin_icon_phone {
	background-position: -100px -300px;
}

.mobile_mlogin_icon_pass {
	background-position: -200px -300px;
}

.mobile_mlogin_icon_set {
	background-position: -300px -300px;
}

.mobile_mlogin_icon_lock {
	background-position: -400px -300px;
}

.mobile_mlogin_icon_collect {
	background-position: -500px -300px;
}

.mobile_mlogin_icon_comment {
	background-position: -600px -300px;
}

.mobile_mlogin_icon_name {
	background-position: -700px -300px;
}

.mobile_mlogin_input input {
	width: 500px;
	height: 80px;
	border: none;
	line-height: 80px;
	margin: 0px;
	font-size: 2.8rem;
}

.mobile_mlogin_desc {
	text-indent: 25px;
	font-size: 2.4rem;
	color: #929292;
}

.mobile_mlogin_desc a {
	color: #5d823e;
}

.mobile_mlogin_att {
	width: 96%;
	margin-left: 2%;
}

.mobile_mlogin_att a {
	font-size: 2.4rem;
	color: #929292;
}

.mobile_mlogin_att_left {
	float: left;
}

.mobile_mlogin_att_left a {
	color: #5d823e;
}

.mobile_mlogin_att_right {
	float: right;
}

.mobile_mlogin_text {
	float: left;
	font-size: 2.8rem;
	line-height: 80px;
}

.mobile_mlogin_link {
	float: right;
	font-size: 3rem;
	line-height: 80px;
	font-family: HeiTi;
	margin-right: 30px;
}

.mobile_mlogin_topbg {
	background-image: url("../mimg/mobile-user.png");
	height: 195px;
}

.mobile_mlogin_topname {
	padding: 55px 30px 0px 210px;
	width: 400px;
	height: 36px;
	font-size: 3.6rem;
	color: #fff;
	overflow: hidden;
}

.mobile_mlogin_title {
	float: left;
	font-size: 2.8rem;
	line-height: 80px;
	overflow: hidden;
	height: 80px;
	width: 60%;
}

.mobile_mlogin_date {
	float: right;
	font-size: 2.8rem;
	line-height: 80px;
	padding-right: 2rem;
	width: 30%;
	color: #888888;
}

.mobile_mlogin_comment_item {
	background-color: #fff;
	position: relative;
}

.mobile_mlogin_comment_title {
	font-size: 3rem;
	line-height: 3rem;
	padding: 2rem 0rem 2rem 0rem;
	width: 96%;
	float: right;
}

.mobile_mlogin_comment_info {
	clear: both;
	font-size: 2.6rem;
	line-height: 2.6rem;
	padding: 1.5rem 1.5rem 1.5rem 2rem;
}

.mobile_mlogin_comment_icon {
	background-image: url("../mimg/mobile-img.png");
	background-position: 0px -400px;
	width: 50px;
	height: 90px;
	display: block;
	float: left;
}

.mobile_mlogin_comment_date {
	color: #888888;
	font-size: 2.0rem;
	line-height: 2.4rem;
}

.mobile_mbid_for_bgone {
	background-image: url("../mimg/mobile-bid.png");
	width: 100%;
	height: 769px;
}

.mobile_mbid_for_bgtwo {
	background-image: url("../mimg/mobile-bidsuccess.png");
	width: 100%;
	height: 834px;
}

.mobile_mbid_for_bgthree {
	background-image: url("../mimg/mobile-ent.png");
	width: 100%;
	height: 645px;
}

.mobile_mbid_for_bgfour {
	background-image: url("../mimg/mobile-send.png");
	width: 100%;
	height: 646px;
}

.mobile_mbid_for_agree {
	font-size: 2.4rem;
	line-height: 3rem;
	text-align: center;
}

.mobile_mbid_for_agree a {
	color: #5d823e;
}

.mobile_mbid_form {
	text-indent: 20px;
	font-size: 2.4rem;
}

.mobile_mbid_form_tips {
	color: #777777;
}

.mobile_mbid_form_list {
	background-color: #fff;
}

.mobile_mbid_form_item {
	min-height: 90px;
	font-size: 2.8rem;
	line-height: 90px;
	width: 96%;
	float: right;
	clear: both;
}

.mobile_mbid_form_left {
	float: left;
	padding-right: 30px;
}

.mobile_mbid_form_right {
	float: left;
}

.mobile_mbid_form_right input {
	height: 80px;
	border: none;
	font-size: 2.8rem;
	line-height: 80px;
	width: 90%;
}

.mobile_mbid_form_right textarea {
	border: none;
	font-size: 2.8rem;
	line-height: 3rem;
	height: 120px;
	width: 90%;
}

.mobile_mbid_green {
	color: #518129;
	line-height: 4rem;
	width: 92%;
	margin-left: 3%;
}

.mobile_mbid_table table {
	width: 100%;
	font-size: 2.6rem;
	line-height: 8rem;
}

.mobile_mbid_table table tr {
	border-bottom: solid 1px #f2f2f2;
}

.mobile_mbid_table table th {
	color: #999;
}

.mobile_mbid_table_th1 {
	width: 65%;
}

.mobile_mbid_table_th2 {
	width: 5%;
}

.mobile_mbid_table_th3 {
	width: 30%;
}

.mobile_mbid_table_th4 {
	width: 18%;
}

.mobile_mbid_table_th5 {
	width: 12%;
}

.mobile_mbid_table table td {
	background-color: #fff;
	text-indent: 15px;
}

.mobile_mbid_show {
	padding: 20px;
	background-color: #fff;
	font-size: 2.8rem;
	line-height: 5rem;
	border-top: solid 1px #f2f2f2;
	border-bottom: solid 1px #f2f2f2;
}

.mobile_mbid_show_title {
	font-size: 3.6rem;
}

.mobile_mbid_show img {
	width: 100%;
}

.mobile_mbid_notice_title {
	font-size: 3rem;
	line-height: 6rem;
	color: #468847;
}

.mobile_mbid_notice_message {
	background-color: #fff;
	border: solid 1px #d6e9c6;
	color: #468847;
	font-size: 2.4rem;
	line-height: 4rem;
	padding: 3rem;
}

.mobile_share_box {
	display: none;
	padding-left: 40px;
	padding-bottom: 20px;
	height: 50px;
}

.mobile_share_box .bshare-custom {
	width: 100%;
}

.mobile_mstatic_box {
	width: 94%;
	margin-left: 3%;
}

.mobile_mstatic_title {
	font-size: 4rem;
	line-height: 50px;
}

.mobile_mstatic_info {
	font-size: 2rem;
	line-height: 3rem;
}


.mobile_head_search
{
	float:left;
	width:82%;
}

.mobile_msearch_bg {
	height: 60px;
	width: 100%%;
	margin-top: 15px;
	
	background-color: #fff;
	over-flow:hidden;
}

.mobile_msearch_btn {
	float: left;
	width:10%;
}

.mobile_msearch_icon
{
	background-image: url("../mimg/mobile-img.png");
	background-position: -100px -400px;
	width: 50px;
	height: 60px;
}


.mobile_msearch_input
{
	float:left;
	width:90%;
	
}
.mobile_msearch_input input
{
	height:60px;
	line-height:60px;
	width:100%;
	border:none;
	font-size: 2.6rem;
}


.mobile_msearch_empty
{
	width:100%;
	height:300px;
	display:none;
	padding-top:100px;
	
}

.mobile_msearch_empty_img {
	
	background-image: url("../mimg/mobile-img.png");
	background-position: -200px -400px;
	width: 300px;
	height: 200px;
	margin:auto;
}

